.card_grid {
  column-gap: 20px;
  row-gap: 32px;
}

.classes_main_paragraph {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 68px;
  margin-bottom: 56px;
}

.classes_main_paragraph h2 {
  font-size: 32px;
  font-weight: 500;
  color: #000000;
  text-transform: lowercase;
}

.classes_main_paragraph h2 span {
  color: #61bdee;
}

.classes_main_paragraph img {
  width: 23px;
  height: 23px;
}

.classes_card_container {
  width: 100%;
}

/* Exam Styles */

.exam_excel_upload {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 24px;
  height: 75px;
  border: 1px solid #61bdee;
  border-radius: 13px;
  font-weight: 500;
  font-size: 20px;
  color: #61bdee;
  margin-bottom: 24px;
}

.start_button {
  background: #61bdee;
  border-radius: 13px;
  height: 50px;
  color: #ffffff;
  font-weight: 700;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 42px;
  margin-top: 42px;
}
