.App {
  display: grid;
}

.App.holyGrid {
  height: 100vh;
  grid-template-rows: min-content 1fr min-content;
}

.main-grid {
  margin: 0 100px;
}

@media screen and (max-width: 768px) {
  .main-grid {
    margin: 0 60px;
  }
  .fullSizeGridTablet {
    grid-column: span 12 !important;
  }
  .halfSizeGridTablet {
    grid-column: span 6 !important;
  }

  .form-image {
    grid-row-start: 1;
    margin-bottom: 40px;
  }
}

@ media screen and (max-width: 576px) {
  .main-grid {
    margin: 0 36px;
  }
  .fullSizeGridMobile {
    grid-column: span 13 !important;
  }
}
